LOGGER_LEVEL=4
PRIVATE_KEY=
WEB3_PROVIDER="http:127.0.0.1:8545"
POSTGRES_URL="host=localhost user=postgres password=postgres dbname=corepass port=5432 sslmode=disable TimeZone=Europe/Bratislava"
KYC_REQUEST_URL=
CALLBACK_URL=
REGISTRY_ADDRESS=